In [8]:
import pandas as pd
taxi_data = pd.read_csv('shared_data/taxi_5000k.csv')

In [9]:
columns = ['pickup_datetime', 'passenger_count', 'pickup_latitude', 'pickup_longitude',  'dropoff_datetime','dropoff_latitude', 'dropoff_longitude']
selected_data = taxi_data[columns]
selected_data.head(10)

,pickup_datetime,passenger_count,pickup_latitude,pickup_longitude,dropoff_datetime,dropoff_latitude,dropoff_longitude
0,2011-08-03 21:31:00,1,40.754370,-73.991192,2011-08-03 21:36:00,40.751405,-73.978028
1,2011-08-03 21:11:00,2,40.728075,-73.994882,2011-08-03 21:35:00,40.773438,-73.978035
2,2011-08-03 14:20:41,1,40.762041,-74.000567,2011-08-03 14:28:44,40.762193,-73.983308
3,2011-08-03 14:20:58,1,40.748391,-73.972967,2011-08-03 14:28:43,40.761491,-73.970028
4,2011-08-03 21:24:00,5,40.770218,-73.959680,2011-08-03 21:28:00,40.779112,-73.962153
5,2011-08-03 21:14:00,2,40.705312,-74.013515,2011-08-03 21:28:00,40.742593,-73.992933
6,2011-08-03 21:26:00,1,40.783327,-73.954735,2011-08-03 21:34:00,40.778002,-73.965405
7,2011-08-04 22:51:55,4,40.767429,-73.968590,2011-08-04 23:03:44,40.739291,-74.001449
8,2011-08-04 22:54:04,1,40.741676,-74.008190,2011-08-04 23:12:58,40.719982,-73.994327
9,2011-08-04 22:42:55,2,40.748900,-73.999500,2011-08-04 23:04:51,40.715300,-73.944100

In [10]:
selected_data = selected_data.assign(pickup_datetime=pd.to_datetime(selected_data.pickup_datetime))
selected_data = selected_data.assign(dropoff_datetime=pd.to_datetime(selected_data.dropoff_datetime))

In [11]:
selected_data.head(10)

,pickup_datetime,passenger_count,pickup_latitude,pickup_longitude,dropoff_datetime,dropoff_latitude,dropoff_longitude
0,2011-08-03 21:31:00,1,40.754370,-73.991192,2011-08-03 21:36:00,40.751405,-73.978028
1,2011-08-03 21:11:00,2,40.728075,-73.994882,2011-08-03 21:35:00,40.773438,-73.978035
2,2011-08-03 14:20:41,1,40.762041,-74.000567,2011-08-03 14:28:44,40.762193,-73.983308
3,2011-08-03 14:20:58,1,40.748391,-73.972967,2011-08-03 14:28:43,40.761491,-73.970028
4,2011-08-03 21:24:00,5,40.770218,-73.959680,2011-08-03 21:28:00,40.779112,-73.962153
5,2011-08-03 21:14:00,2,40.705312,-74.013515,2011-08-03 21:28:00,40.742593,-73.992933
6,2011-08-03 21:26:00,1,40.783327,-73.954735,2011-08-03 21:34:00,40.778002,-73.965405
7,2011-08-04 22:51:55,4,40.767429,-73.968590,2011-08-04 23:03:44,40.739291,-74.001449
8,2011-08-04 22:54:04,1,40.741676,-74.008190,2011-08-04 23:12:58,40.719982,-73.994327
9,2011-08-04 22:42:55,2,40.748900,-73.999500,2011-08-04 23:04:51,40.715300,-73.944100

In [13]:
import datetime
start = '2011-08-08'
end = '2011-08-15'
week2 = selected_data[selected_data['pickup_datetime']>start]
week2 = week2[week2['pickup_datetime']<end]

In [14]:
week2.shape

(1179347, 7)

In [15]:
week2.to_csv('shared_data/week2_taxi.csv')

In [1]:
import pandas as pd
week2 = pd.read_csv('shared_data/week2_taxi.csv')
week2.head()

,Unnamed: 0,pickup_datetime,passenger_count,pickup_latitude,pickup_longitude,dropoff_datetime,dropoff_latitude,dropoff_longitude
0,15,2011-08-10 13:33:00,1,40.762155,-73.971597,2011-08-10 13:34:00,40.768353,-73.971587
1,17,2011-08-10 05:18:46,1,40.734749,-73.994530,2011-08-10 05:20:54,40.726777,-73.995617
2,82,2011-08-13 00:24:00,1,40.690195,-73.961935,2011-08-13 00:32:00,40.674938,-73.960273
3,127,2011-08-08 18:38:00,1,40.743403,-73.982522,2011-08-08 18:58:00,40.743403,-73.982522
4,129,2011-08-13 05:32:39,1,40.818925,-73.956087,2011-08-13 05:54:37,40.694184,-73.983637

In [2]:
features = pd.read_csv('features2.csv')
features.head()

,Unnamed: 0,latitude,longitude,density,neighbors_entropy,competitiveness,area_popularity,transition_density,incoming_flow,average_check_ins,venue_id
0,0,40.646133,-73.90315,20.0,4.510825,-0.100000,171.0,37.0,53.0,81.0,59479.0
1,1,40.700645,-73.94293,43.0,5.007660,-0.093023,326.0,97.0,56.0,137.0,162.0
2,2,40.702366,-74.01126,126.0,7.167056,-0.047619,3802.0,670.0,1231.0,296.0,50006.0
3,3,40.745537,-73.90356,72.0,9.535595,-0.013889,983.0,286.0,206.0,165.0,14304.0
4,4,40.827675,-73.92475,57.0,9.606036,-0.052632,5837.0,1388.0,1589.0,233.0,488.0

In [4]:
business_coords = features[['Unnamed: 0', 'venue_id', 'latitude', 'longitude']].values
# coords.head()

In [5]:
week_np = week2.values

In [6]:
week_np[0]
# business_coords[0]

array([15, '2011-08-10 13:33:00', 1, 40.762155, -73.971597,
       '2011-08-10 13:34:00', 40.76835300000001, -73.971587], dtype=object)

In [11]:
from geopy import distance
import numpy as np
new_taxi = {
    'pick_lat': np.array([]),
    'pick_lon': np.array([]),
    'drop_lat': np.array([]),
    'drop_lon': np.array([]),
    'pick_time': np.array([]),
    'drop_time': np.array([]),
    'venue_id': np.array([])
}
for i in range(100000):
    if i%10000==0:
        print(i)
    lat = week_np[i][6]
    lon = week_np[i][7]
    for j in range(len(business_coords)):
#         print('lat ',lat)
        center_coordinates = (business_coords[j][2], business_coords[j][3])
#         print(center_coordinates)
        dist_lat = abs(center_coordinates[0]-lat)
        dist_lon = abs(center_coordinates[1]-lon)
#         dist = distance.distance(center_coordinates, (lat, lon)).m
#         print(dist_lat, dist_lon)
        if dist_lat<=0.0025 and dist_lon<=0.005:
#             pass
            new_taxi['pick_lat'] = np.append(new_taxi['pick_lat'], week_np[i][3])
            new_taxi['pick_lon'] = np.append(new_taxi['pick_lon'], week_np[i][4])
            new_taxi['drop_lat'] = np.append(new_taxi['drop_lat'], center_coordinates[0])
            new_taxi['drop_lon'] = np.append(new_taxi['drop_lon'], center_coordinates[1])
            new_taxi['pick_time'] = np.append(new_taxi['pick_time'], week_np[i][1])
            new_taxi['drop_time'] = np.append(new_taxi['drop_time'], week_np[i][5])
            new_taxi['venue_id'] = np.append(new_taxi['venue_id'], business_coords[j][1])

0
10000
20000
30000
40000
50000
60000
70000
80000
90000

{'drop_lat': array([40.72496 , 40.72902 , 40.726177, ..., 40.721935, 40.719368,
        40.722214]),
 'drop_lon': array([-73.99499, -73.99802, -73.99183, ..., -73.99737, -74.00458,
        -74.00408]),
 'drop_time': array(['2011-08-10 05:20:54', '2011-08-10 05:20:54',
        '2011-08-10 05:20:54', ..., '2011-08-13 17:47:00',
        '2011-08-13 17:47:00', '2011-08-13 17:47:00'], dtype='<U32'),
 'pick_lat': array([40.734749, 40.734749, 40.734749, ..., 40.719907, 40.719907,
        40.719907]),
 'pick_lon': array([-73.99453 , -73.99453 , -73.99453 , ..., -74.002252, -74.002252,
        -74.002252]),
 'pick_time': array(['2011-08-10 05:18:46', '2011-08-10 05:18:46',
        '2011-08-10 05:18:46', ..., '2011-08-13 17:45:00',
        '2011-08-13 17:45:00', '2011-08-13 17:45:00'], dtype='<U32'),
 'venue_id': array([65043., 72426., 55065., ...,  8451., 81739., 72260.])}

In [13]:
new_taxi_df = pd.DataFrame(data=new_taxi)

In [14]:
new_taxi_df.to_csv('shared_data/tarik_taxi.csv')